<header class="center">
    <p class="category">
    </p>

    <div class='story'>
    <h1 style='font-family:tiempos'>150 Years of The Daily Californian</h1>
    </div>
    <p class="subhead" style='font-family:tiempos'>A look at 150 years of headlines</p>
    <div class="info">
        <p>
            By <span class="byline"><a href="https://www.dailycal.org/author/alexzhao/" style="text-decoration: none" target="_blank">Alex Zhao</a>, 
                <a href="https://www.dailycal.org/author/malviar/" style="text-decoration: none" target="_blank">Maia Alviar</a>, 
                <a href="https://www.dailycal.org/author/jocelynhuang/" style="text-decoration: none" target="_blank">Jocelyn Huang</a> and
                <a href="https://www.dailycal.org/author/jharris/" style="text-decoration: none" target="_blank">Jordan Harris</a>
            </span> <br /> <span class="timestamp"><time datetime="2020-07-24T08:00-0800">JUNE 4, 2021</time></span>
            </br>
            </br>
        </p>
    </div>
</header>
