<header class="center">
    <p class="category">
    </p>

    <div class='story'>
    <h1 style='font-family:tiempos'>150 Years at The Daily Californian</h1>
    </div>
    <p class="subhead" style='font-family:tiempos'>Timeline</p>
    <div class="info">
        <p>
            <!--By <span class="byline"><a href="https://www.dailycal.org/author/alexzhao/" target="_blank">Alex Zhao</a>-->
            </span> <br /> <span class="timestamp"> <time datetime="2020-07-24T08:00-0800">MARCH 24, 2021</time></span>
            </br>
            </br>
        </p>
    </div>
</header>
