<!DOCTYPE html>
<meta charset="utf-8">

<!-- Load d3.js (relevant package)-->
<script src="https://d3js.org/d3.v4.js"></script>
<style>
a {
  text-decoration: underline;
}
</style>

<!--Create the title of the graphic-->
<center>150 Years of The Daily Californian</center>
<br><br>

<!-- Create a div where the graph will take place -->
<div id="two_divs" style="display: table;">
    <div id="timeline1" style="display: table-cell;"></div>
    <div id="timeline2" style="display: table-cell;"></div>
</div>

<!--start Javascript portion-->
<script>
// set the dimensions and margins of the graph. These dimensions will resize based on the relative size of the screen by the user.
let pageWidth = $(window).width();
var clicked = "none";

var margin = {top: 20, right: 30, bottom: 30, left: 0},
    width = 500,
    height = 7000 - margin.top - margin.bottom;

// Append the svg_timeline object to the div of the page.
//An SVG is a "Scalable Vector Graphic" -- like a canvas for us to add 2-D shapes onto.
var svg_timeline = d3.select("#timeline1")
//these attributes set the size of the SVG object
  .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + 100 + "," + margin.top + ")");

            var imgs = svg_timeline.selectAll("img").data([0]);
                imgs.enter()
                .append("svg:img")
                .attr("xlink:href", "https://drive.google.com/file/d/1i4ZFwEa7G47VncdUWPkjeo6E3wq-SRDp/view?usp=sharing")
                .attr("x", "60")
                .attr("y", "60")
                .attr("width", "20")
                .attr("height", "20");

var svg_content = d3.select("#timeline2")
//these attributes set the size of the SVG object
  .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .attr("transform",
          "translate(" + 0 + "," + 0 + ")")
  .append("g")
    .attr("transform",
          "translate(" + 50 + "," + margin.top + ")");

// Parse the Data
d3.csv("timeline.csv", function(data) {
  // Add X axis. Scale linear creates an array of numbers from 0 to 100 that maps to the width of the page.
  var x = d3.scaleLinear()
    .domain([0, 100])
    .range([ 0, width]);

  // Now we append a "g" element. "g" elements have children which share their attributes.
  //In this case, the axis will have size 12 benton-sans font.
  svg_timeline.append("g")
    .attr("transform", "translate(0," + height + ")")
    .style("font-family", "benton-sans")
    .style("font-size", "12")

  // Y axis
  //Same as the X-axis, simply with different numbers.
  var y = d3.scaleLinear()
    .domain([1908, 2030])
    .range([ 0, height ]);
    //.padding(1);

  svg_timeline.append("g")
    .attr("class", "yaxis")
    .style("font-family", "benton-sans-bold")
    .style("font-size", "18");
    //.call(d3.axisLeft(y).tickSize(0));

  // Lines
  // selectAll instructs the svg object to look for "myline" elements.
  //None are found, since we haven't added any lines yet.
  // Calling "data" binds the data variable to our selection.
  // Since the selection is empty, D3 creates a new line for each data point "d".

  svg_timeline.append("line")
      .attr("x1", function(d) { return 70; })
      .attr("x2", function(d) { return 70; })
      .attr("y1", function(d) { return y(1908); })
      .attr("y2", function(d) { return y(2021); })
      .attr("stroke", "gray")
      .attr("stroke-width", "2px")

  svg_timeline.selectAll("timeline-circle")
    .data(data)
    .enter().append("circle")
      .attr("cx", function(d) { return 70; })
      .attr("cy", function(d) { return y(+d.placement); })
      .attr("placement", function(d) { return d.placement; })
      .attr("r", "15")
      .style("fill", "#2d637f")


  svg_timeline.append("g")
    .selectAll("text")
    .data(data)
    .enter().append("text")
    .attr("x", -75)
      .attr("y", function(d) { return y(+d.placement); })
      .attr("dy", 6)
      .attr("id", "ylabel")
      .style("font-family", "benton-sans-bold")
      .style("font-size", "18")
      .style("fill", "black")
    .text(function(d) { return d.date })

  svg_timeline.append("g")
    .selectAll("text")
    .data(data)
    .enter().append("text")
    .attr("x", 0)
      .attr("y", function(d) { return y(+d.placement); })
      .attr("dy", 6)
      .attr("id", "timeline-content")
      .style("font-family", "benton-sans")
      .style("font-size", "16")
      .style("fill", "black")
    .text(function(d) { return d.short })

//Again, we select the rectangle objects. Since there are none, we add them.
//These rectangles are entirely transparent and only exist so that text appears when the user hovers over them.
svg_timeline.selectAll("myrect")
    .data(data)
    .enter()
    .append("rect")
      .attr("x", 0)
    .attr("y", function(d) { return y(+d.placement) - 45; })
      .attr("width", width)
      .attr("height", 100)
      .attr("fill", "gray")
      .style("opacity", 0)
      .attr("stroke", "white")
      .attr("stroke-width", "1px")
      .on("click", function(d) {
            addBox(d);
            showLabel_click(d);
          })
      .on("mouseover", function(d) {
            showLabel_hover(d);
          })
      .on("mousemove", moveLabel)
    .on("mouseout", function(d) { hideLabel(d); })


    function addBox(d) {
      clicked = d.placement;

      svg_content.select("#timelinebox").remove()
      svg_content.selectAll('timelinebox')
      .data([d])
      .enter()
      .append("rect")
      .attr("x", 0)
      .attr("y", function(d) {return y(+d.placement) - 25; })
      .attr("width", width - 30)
      .attr("height", 500)
      .attr("fill", "#e09e19")
      .attr("id", "timelinebox")
      .attr("opacity", 0.3)

      svg_content.select('#img').remove()

      var imgs = svg_content.append('g').selectAll("img").data([d]);
                imgs.enter()
                .append("image")
                .attr("xlink:href", "images/" + d.visual)
                .attr("x", "0")
                .attr("id", "img")
                .attr("y", function(d) {return y(+d.placement) - 39; })
                .attr("width", width - 30)
                .attr("height", "375");

    svg_content.select("#timeline-text").remove();
    svg_content.append("g")
      .selectAll("text")
      .data([d])
      .enter().append("text")
      .attr("x", 10)
        .attr("y", function(d) { return y(+d.placement) + 400; })
        .attr("dy", 6)
        .attr("id", "timeline-text")
        .style("font-family", "benton-sans")
        .style("font-size", "16")
        .style("fill", "black")
      .html(function(d) { return d.long })

    svg_content.select("#archive-link").remove();
    svg_content.append("g")
      .selectAll("text")
      .data([d])
      .enter().append("text")
      .attr("x", 15)
        .attr("y", function(d) { return y(+d.placement) + 470; })
        .attr("dy", 6)
        .attr("id", "archive-link")
        .style("font-family", "benton-sans")
        .style("font-size", "16")
        .style("fill", "black")
        .html(function(d) {
          var link = d.link;
          return "<a href=" + link + ">Read the article here.</a>";
        })


      svg_content.selectAll('#fancy-line').remove();
      svg_content.selectAll('fancy-line')
      .data([d])
      .enter()
      .append("line")
      .attr("x1", -50)
      .attr("x2", 0)
      .attr("id", 'fancy-line')
      .attr("y1", function(d) {return y(+d.placement); })
      .attr("y2", function(d) {return y(+d.placement); })
      .attr("stroke", "#2d637f")
      .attr("stroke-width", "5px")

      svg_timeline.select("#clickedbox").remove();
      svg_timeline.selectAll('clickedbox')
      .data([d])
      .enter()
      .append("rect")
      .attr("x", 100)
      .attr("y", function(d) {return y(+d.placement) - 45; })
      .attr("width", width)
      .attr("height", 80)
      .attr("id", "clickedbox")
      .style("opacity", 100)
      .attr("fill", "#dedede")
      svg_timeline.select("#clickedbox").lower()
  svg_content.selectAll('text#timeline-text').call(wrap, 450, 20);
    }

  function wrap(text, width, transform) {
  text.each(function() {
    var text = d3.select(this),
        words = text.html().split(/\s+/).reverse(),
        word,
        line = [],
        lineNumber = 0,
        lineHeight = 1.1, // ems
        y = text.attr("y") - 100,
        dy = parseFloat(text.attr("dy")),
        tspan = text.html(null).append("tspan").attr("x", transform).attr("y", y).attr("dy", dy + "em");
    while (word = words.pop()) {
      line.push(word);
      tspan.html(line.join(" "));
      if (tspan.node().getComputedTextLength() > width) {
        line.pop();
        tspan.html(line.join(" "));
        line = [word];
        tspan = text.append("tspan").attr("x", transform).attr("y", y).attr("dy", ++lineNumber * lineHeight + dy + "em").text(word);
      }
    }
  });
}

  svg_timeline.selectAll('#timeline-content').call(wrap, 300, 120);
    function showLabel_click(d) {
     d3.selectAll('#ylabel').each(function(d1, i) {
       d3.select(this)
         .style('fill', '#d3d3d3')
       })

     d3.selectAll('circle').each(function(d1, i) {
       d3.select(this)
         .style('fill', '#d3d3d3')
       })

     d3.selectAll('circle').each(function(c, i) {
      if (c.placement == d.placement) {
       d3.select(this)
         .style('fill', '#2d637f')
       }
     })

     d3.selectAll('#ylabel').each(function(d1, i) {
      if (d1.placement == d.placement) {
       d3.select(this)
         .style('fill', 'black')
       }
     })
    }

    function showLabel_hover(d) {
     d3.selectAll('#ylabel').each(function(d1, i) {
       if (d1.placement != clicked) {
       d3.select(this)
         .style('fill', '#d3d3d3')
       }
       })

     d3.selectAll('#ylabel').each(function(d1, i) {
      if (d1.placement == d.placement)  {
       d3.select(this)
         .style('fill', 'black')
       }
     })

      svg_timeline.select("#raised").each(function(d1, i) {
          d3.select(this).remove()
       })

      svg_timeline.selectAll('raised')
      .data([d])
      .enter()
      .append("rect")
      .attr("x", 100)
      .attr("y", function(d) {return y(+d.placement) - 45; })
      .attr("width", width)
      .attr("height", 80)
      .attr("id", "raised")
      .style("opacity", 100)
      .attr("fill", "#dedede")
      svg_timeline.select("#raised").lower()

    }

    function moveLabel() {
      var coords = [d3.event.pageX, d3.event.pageY];

      var top = coords[1] + 30,
          left = coords[0] - 50;
    }

    function hideLabel(d) {
     d3.selectAll('#ylabel').each(function(d1, i) {
       if (d1.placement != clicked) {
       d3.select(this)
         .style('fill', '#d3d3d3')
       }
       })

     d3.selectAll('#ylabel').each(function(d1, i) {
       if (clicked == "none") {
       d3.select(this)
         .style('fill', 'black')
       }
       })
      svg_timeline.select("#raised").each(function(d1, i) {
          d3.select(this).remove()
       })
    }

})

</script>
