.progress-container {
  top: 0;
  position: fixed;
  height: 8px;
  z-index: 1;
  background: #ccc;
}

.progress-bar {
  position: fixed;
  top: 0;
  height: 8px;
  background: #4caf50;
  z-index: 1;
  width: 0%;
}
